@import '../../_variables';

.header {
    height: 100px;
    background-image: url(../../../public/assets/bg-header-desktop.svg);
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 25px;
    }
}