$font-size: 15px;
$font-weight:500;

//colors
$primary-color:hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filter-tablets:hsl(180, 31%, 95%);
$dark:hsl(180, 31%, 95%);
$very-dark:hsl(180, 14%, 20%);
$small-links:hsl(0, 0%, 55%);

//shadow
$shadow:2px 1px 5px -1px hsl(180, 31%, 46%);
$shadow-hover:6px 4px 13px -1px hsl(180, 31%, 46%);